[submodule "caravan"]
	path = caravan
	url = https://github.com/shahzaibk23/caravan
[submodule "jigsaw"]
	path = jigsaw
	url = https://github.com/shahzaibk23/jigsaw
[submodule "ccache"]
	path = ccache
	url = https://github.com/shahzaibk23/ccache
