
[submodule "jigsaw"]
	path = jigsaw
	url = https://github.com/shahzaibk23/jigsaw
[submodule "caravan"]
	path = caravan
	url = https://github.com/merledu/caravan
[submodule "cachefy"]
	path = cachefy
	url = https://github.com/merledu/cachefy
